---
import Layout from '../layouts/Layout.astro';
---
+<a href="/">Home</a>
+<a href="/about/">About</a>
+<a href="/blog/">Blog</a>

<Layout title="Astro Rich">
    <h1>About Me</h1>
    <p>I am working on the intro tutorial</p>
    
    <p>Site will update as I work through it</p>
</Layout>