---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'

const pageTitle = "Rich's Astro Blog";
---

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>{pageTitle}</title>
    </head>

        <Header />    
        <body>
            <h1>My Astro Learning Blog</h1>
            <p>This will update as I learn sheesh</p>
            <ul>
                <li><a href="/posts/post-1">Rich's first Astro Post</a></li>
            </ul>
            <Footer />
            <script>
            import "../scripts/menu.js"
        </script>
        </body>

</html>
