---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<body>
	<h2>Rich Fly</h2>	
	<Greeting client:load messages={["Hi", "Hello", "Howdy","Hey there"]} />
	<body>
</BaseLayout>