---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<body>
	<h2>Rich Fly</h2>	
	<p>Thanks for visiting this is a learning site on how and what you can do with astro.</p>
	<body>
</BaseLayout>