---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

+<a href="/">Home</a>
+<a href="/about/">About</a>
+<a href="/blog/">Blog</a>


<Layout title="Astro Rich">
	<main>
		<h1>Hello Astro</h1>
	</main>
</Layout>