---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
const pageTitle="Home"
---

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>{pageTitle}</title>
    </head>
<Layout title="Astro Rich">
	<main>
		<Navigation />
		<h1>{pageTitle}</h1>
	</main>
</Layout>
<html>